.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  em {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        :hover { // Escurece um pouquinho quando passa o cursor
          filter: brightness(0.7);
        }
      }

      &.delete-button {
        display: flex;
        align-items: flex-end;
        
        :hover { // Deixa a lixeira vermelhinha quando passa o cursor
          filter: hue-rotate(168deg) saturate(1000%) opacity(95%) contrast(1000%) invert(9%);
          -webkit-filter: hue-rotate(168deg) saturate(1000%) opacity(95%) contrast(1000%) invert(9%);
          -moz-filter: hue-rotate(168deg) saturate(1000%) opacity(95%) contrast(1000%) invert(9%);
        }
      }

//      &:hover {
//        filter: brightness(0.7);
//      }
    }
  }
}